body {
    background: url('assets/grid.png'), linear-gradient(to bottom, #121212, #222);
    background-size: 200px 200px;
    color: white;
    font-family: "Arial", sans-serif;
    height: auto; /* Full height of the viewport */
    min-height: 100vh;
    overflow-y: auto; /* Enables scrolling */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center;
}

.container {
    background: rgba(255, 255, 255, 0.1); /* Optional: Slight transparent background */
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    min-height: 200px;/* Ensures enough space for text */
}
h1 {
    font-size: 20px; /* Adjust the size as needed */
}
h2 {
    font-size: 8px; /* Adjust the size as needed */
}
ul {
    list-style-type: none; /* Removes the default bullets */
    padding-left: 0; /* Removes any default left padding */
}


