body {
    background: url('assets/grid.png'), linear-gradient(to bottom, #121212, #222);
    background-size: 200px 200px;
    font-family: "Arial", sans-serif;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Aligns content to the top */
    text-align: center;
    margin: 0;
    padding-top: 50px; /* Creates space at the top */
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    max-width: 700px;
    margin-top: 50px; /* Extra margin to push content down */
}

.profile-img {
    width: 200px;
    border-radius: 50%;
    margin-top: 20px;
}

h1 {
    font-size: 40px;
    color: #ffcc00;
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
    color: #ffa200;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    color: #ffcc00;
    margin-bottom: 20px;
}
