body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 30px;
}

section {
    margin-bottom: 60px;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

.card img {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
}

.card-body a {
    font-size: 1rem;
    text-decoration: none;
}

footer {
    background-color: #343a40;
}
